*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Oswald', sans-serif;
    font-weight: 400;
    color: #5D5D7D;
}

.container{
    width: 100vh;
    height: 100vh;
}

.container-left{
    width: 60%;
    display: inline-block; 
    padding-left: 136px;
    margin-top: 20%;
}

.container-right{
    display: inline-block;
    width: 40%;
    height: 100vh;
    background-color: rgba(93,93,125, 0.16);
    position: absolute;
}

img{
    position: relative;
    top: 25%;
    right: 130px;
}

h1{
    width: 368px;
    height: 160px;  
    font-size: 70px;
    line-height: 80px; 
}

p{
    width: 540px;
    height: 144px;
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
}

button{
    width: 269px;
    height: 62px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: .5;
}

a{
    width: 59px;
    height: 41px;
    font-size: 28px;
    line-height: 41px;
    margin-right: 41px;
    cursor: pointer;
}

a:nth-child(2){
    opacity: .4;
}

a:hover{
    opacity: 0.4;
}

a:active{
    opacity: .8;
}

header{
    margin-top: 24px;
    margin-left: 57px;
}

@media screen and (max-width:900px){
    .container-left{
        display: block;
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }

    .container-right{
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 45px;
        margin-top: 30px;
    }

    img{
        position: static;
        max-width: 90%;
    }

    header{
        display: none;
    }

    h1{
        width: auto;
        height: auto;
        font-size: 36px;
        line-height: 52px;
        text-align: center;
        margin: 58px 50px 0 50px;
    }

    p{
        width: auto;
        height: auto;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin: 15px 40px;
    }

    button{
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width:330px){
    .container-left{
        height: 70%;
    }
}
